body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2622 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:800px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:53px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:53px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2626 {
  position:absolute;
  left:263px;
  top:10px;
  width:77px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2627 {
  position:absolute;
  left:24px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2628 {
  position:absolute;
  left:351px;
  top:10px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2629 {
  position:absolute;
  left:24px;
  top:18px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2630 {
  position:absolute;
  left:337px;
  top:10px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2631 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u2632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2632 {
  position:absolute;
  left:438px;
  top:10px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2633 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2634 {
  position:absolute;
  left:1023px;
  top:10px;
  width:132px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u2635 {
  position:absolute;
  left:2px;
  top:16px;
  width:128px;
  word-wrap:break-word;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2638 {
  position:absolute;
  left:53px;
  top:13px;
  width:48px;
  height:48px;
  color:#666666;
}
#u2639 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u2640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2641 {
  position:absolute;
  left:1107px;
  top:15px;
  width:48px;
  height:48px;
  color:#666666;
}
#u2642 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u2644 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2645 {
  position:absolute;
  left:1138px;
  top:638px;
  width:40px;
  height:40px;
  opacity:0.4;
}
#u2646 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u2647 {
  position:absolute;
  left:1147px;
  top:646px;
  width:22px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u2648 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2649 {
  position:absolute;
  left:1138px;
  top:738px;
  width:40px;
  height:40px;
}
#u2650 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2651 {
  position:absolute;
  left:1138px;
  top:689px;
  width:40px;
  height:40px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2654 {
  position:absolute;
  left:462px;
  top:53px;
  width:60px;
  height:3px;
}
#u2655 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
}
#u2657 {
  position:absolute;
  left:431px;
  top:777px;
  width:417px;
  height:16px;
}
#u2658 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u2659 {
  position:absolute;
  left:373px;
  top:779px;
  width:50px;
  height:12px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2662 {
  position:absolute;
  left:373px;
  top:755px;
  width:57px;
  height:16px;
}
#u2663 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2664 {
  position:absolute;
  left:464px;
  top:757px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2665 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2666 {
  position:absolute;
  left:647px;
  top:757px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2668 {
  position:absolute;
  left:729px;
  top:757px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2669 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2670 {
  position:absolute;
  left:564px;
  top:757px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2671 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2672 {
  position:absolute;
  left:549px;
  top:756px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2673 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2674 {
  position:absolute;
  left:627px;
  top:757px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2675 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2676 {
  position:absolute;
  left:708px;
  top:757px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2677 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:429px;
}
#u2679 {
  position:absolute;
  left:181px;
  top:144px;
  width:1px;
  height:428px;
}
#u2680 {
  position:absolute;
  left:2px;
  top:206px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2682 {
  position:absolute;
  left:70px;
  top:144px;
  width:64px;
  height:64px;
  color:#666666;
}
#u2683 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u2684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2684 {
  position:absolute;
  left:53px;
  top:215px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u2685 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2686 {
  position:absolute;
  left:74px;
  top:263px;
  width:57px;
  height:16px;
}
#u2687 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2688 {
  position:absolute;
  left:74px;
  top:312px;
  width:57px;
  height:16px;
}
#u2689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2690 {
  position:absolute;
  left:75px;
  top:361px;
  width:57px;
  height:16px;
}
#u2691 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2692 {
  position:absolute;
  left:75px;
  top:409px;
  width:57px;
  height:16px;
}
#u2693 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2694 {
  position:absolute;
  left:72px;
  top:458px;
  width:57px;
  height:16px;
}
#u2695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2696 {
  position:absolute;
  left:74px;
  top:507px;
  width:57px;
  height:16px;
}
#u2697 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2698 {
  position:absolute;
  left:88px;
  top:556px;
  width:29px;
  height:16px;
}
#u2699 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2700 {
  position:absolute;
  left:228px;
  top:144px;
  width:488px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2701 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u2702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2702 {
  position:absolute;
  left:328px;
  top:513px;
  width:71px;
  height:24px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2705 {
  position:absolute;
  left:229px;
  top:354px;
  width:85px;
  height:16px;
}
#u2706 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2707 {
  position:absolute;
  left:328px;
  top:346px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2708 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2710 {
  position:absolute;
  left:229px;
  top:404px;
  width:85px;
  height:16px;
}
#u2711 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2712 {
  position:absolute;
  left:328px;
  top:396px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2713 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2714 {
  position:absolute;
  left:547px;
  top:446px;
  width:79px;
  height:32px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2717 {
  position:absolute;
  left:229px;
  top:454px;
  width:57px;
  height:16px;
}
#u2718 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2719 {
  position:absolute;
  left:328px;
  top:446px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2720 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u2721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2721 {
  position:absolute;
  left:53px;
  top:255px;
  width:99px;
  height:33px;
  opacity:0.5;
}
#u2722 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u2723 {
  position:absolute;
  left:547px;
  top:396px;
  width:79px;
  height:32px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u2724 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2726 {
  position:absolute;
  left:229px;
  top:199px;
  width:85px;
  height:16px;
}
#u2727 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2728 {
  position:absolute;
  left:328px;
  top:191px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2729 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u2730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2731 {
  position:absolute;
  left:229px;
  top:249px;
  width:85px;
  height:16px;
}
#u2732 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2733 {
  position:absolute;
  left:328px;
  top:241px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2734 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u2735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2736 {
  position:absolute;
  left:229px;
  top:299px;
  width:57px;
  height:16px;
}
#u2737 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2738 {
  position:absolute;
  left:328px;
  top:291px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u2739 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
