body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8135 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:800px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:53px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8137 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:53px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8139 {
  position:absolute;
  left:240px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8140 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8141 {
  position:absolute;
  left:327px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8142 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8143 {
  position:absolute;
  left:415px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8144 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8145 {
  position:absolute;
  left:929px;
  top:10px;
  width:197px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8146 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u8148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u8149 {
  position:absolute;
  left:53px;
  top:13px;
  width:48px;
  height:48px;
  color:#666666;
}
#u8150 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8151 {
  position:absolute;
  left:520px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u8152 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u8154 {
  position:absolute;
  left:1078px;
  top:13px;
  width:48px;
  height:48px;
  color:#666666;
}
#u8155 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u8156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u8156 {
  position:absolute;
  left:880px;
  top:27px;
  width:18px;
  height:20px;
}
#u8157 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8158 {
  position:absolute;
  left:896px;
  top:20px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u8159 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8162 {
  position:absolute;
  left:1137px;
  top:610px;
  width:40px;
  height:40px;
  opacity:0.4;
}
#u8163 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u8164 {
  position:absolute;
  left:1146px;
  top:618px;
  width:22px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u8165 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8166 {
  position:absolute;
  left:1137px;
  top:710px;
  width:40px;
  height:40px;
}
#u8167 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8168 {
  position:absolute;
  left:1137px;
  top:661px;
  width:40px;
  height:40px;
}
#u8169 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
}
#u8171 {
  position:absolute;
  left:431px;
  top:780px;
  width:417px;
  height:16px;
}
#u8172 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u8173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u8173 {
  position:absolute;
  left:373px;
  top:782px;
  width:50px;
  height:12px;
}
#u8174 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8176 {
  position:absolute;
  left:373px;
  top:758px;
  width:57px;
  height:16px;
}
#u8177 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8178 {
  position:absolute;
  left:464px;
  top:760px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8179 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8180 {
  position:absolute;
  left:647px;
  top:760px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8181 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u8182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8182 {
  position:absolute;
  left:729px;
  top:760px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8183 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8184 {
  position:absolute;
  left:564px;
  top:760px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8185 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8186 {
  position:absolute;
  left:549px;
  top:759px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8187 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u8188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8188 {
  position:absolute;
  left:627px;
  top:760px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8189 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u8190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u8190 {
  position:absolute;
  left:708px;
  top:760px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u8191 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u8192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u8198 {
  position:absolute;
  left:53px;
  top:173px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u8199 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u8200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8200 {
  position:absolute;
  left:212px;
  top:173px;
  width:2px;
  height:40px;
  text-align:left;
}
#u8201 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8208 {
  position:absolute;
  left:53px;
  top:133px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8209 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u8210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u8210 {
  position:absolute;
  left:53px;
  top:69px;
  width:151px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u8210_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u8210.mouseOver {
}
#u8211 {
  position:absolute;
  left:32px;
  top:16px;
  width:119px;
  white-space:nowrap;
}
#u8212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8212 {
  position:absolute;
  left:229px;
  top:133px;
  width:488px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8213 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u8214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8215 {
  position:absolute;
  left:229px;
  top:193px;
  width:57px;
  height:16px;
}
#u8216 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8217 {
  position:absolute;
  left:318px;
  top:185px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8218 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u8219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8220 {
  position:absolute;
  left:229px;
  top:235px;
  width:57px;
  height:16px;
}
#u8221 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8222 {
  position:absolute;
  left:318px;
  top:227px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8223 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u8224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8225 {
  position:absolute;
  left:229px;
  top:277px;
  width:71px;
  height:16px;
}
#u8226 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8227 {
  position:absolute;
  left:318px;
  top:269px;
  width:202px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u8228 {
  position:absolute;
  left:2px;
  top:8px;
  width:198px;
  word-wrap:break-word;
}
#u8229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8229 {
  position:absolute;
  left:318px;
  top:323px;
  width:71px;
  height:24px;
}
#u8230 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u8232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8232 {
  position:absolute;
  left:544px;
  top:54px;
  width:60px;
  height:3px;
}
#u8233 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
