body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6864 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:800px;
}
#u6865 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:53px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6866 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:53px;
}
#u6867 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6868 {
  position:absolute;
  left:240px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6869 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u6870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6870 {
  position:absolute;
  left:327px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6871 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u6872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6872 {
  position:absolute;
  left:415px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6873 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6874 {
  position:absolute;
  left:929px;
  top:10px;
  width:197px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6875 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u6877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u6878 {
  position:absolute;
  left:53px;
  top:13px;
  width:48px;
  height:48px;
  color:#666666;
}
#u6879 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6880 {
  position:absolute;
  left:520px;
  top:11px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u6881 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u6882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u6882 {
  position:absolute;
  left:880px;
  top:27px;
  width:18px;
  height:20px;
}
#u6883 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6884 {
  position:absolute;
  left:896px;
  top:20px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u6885 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6888 {
  position:absolute;
  left:1137px;
  top:610px;
  width:40px;
  height:40px;
  opacity:0.4;
}
#u6889 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u6890 {
  position:absolute;
  left:1146px;
  top:618px;
  width:22px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u6891 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6892 {
  position:absolute;
  left:1137px;
  top:710px;
  width:40px;
  height:40px;
}
#u6893 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6894 {
  position:absolute;
  left:1137px;
  top:661px;
  width:40px;
  height:40px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
}
#u6897 {
  position:absolute;
  left:431px;
  top:780px;
  width:417px;
  height:16px;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u6899 {
  position:absolute;
  left:373px;
  top:782px;
  width:50px;
  height:12px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:373px;
  top:758px;
  width:57px;
  height:16px;
}
#u6903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6904 {
  position:absolute;
  left:464px;
  top:760px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6905 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6906 {
  position:absolute;
  left:647px;
  top:760px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6908 {
  position:absolute;
  left:729px;
  top:760px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6910 {
  position:absolute;
  left:564px;
  top:760px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6912 {
  position:absolute;
  left:549px;
  top:759px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6914 {
  position:absolute;
  left:627px;
  top:760px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6916 {
  position:absolute;
  left:708px;
  top:760px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u6924 {
  position:absolute;
  left:53px;
  top:333px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1890FF;
  text-align:left;
  line-height:22px;
}
#u6925 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6926 {
  position:absolute;
  left:212px;
  top:333px;
  width:2px;
  height:40px;
  text-align:left;
}
#u6927 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6934 {
  position:absolute;
  left:53px;
  top:133px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6935 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6936 {
  position:absolute;
  left:53px;
  top:69px;
  width:151px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6936_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u6936.mouseOver {
}
#u6937 {
  position:absolute;
  left:32px;
  top:16px;
  width:119px;
  white-space:nowrap;
}
#u6938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6944 {
  position:absolute;
  left:53px;
  top:173px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6945 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6952 {
  position:absolute;
  left:53px;
  top:213px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6953 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6960 {
  position:absolute;
  left:53px;
  top:253px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6961 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6968 {
  position:absolute;
  left:53px;
  top:293px;
  width:161px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u6969 {
  position:absolute;
  left:50px;
  top:9px;
  width:111px;
  word-wrap:break-word;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6971 {
  position:absolute;
  left:224px;
  top:147px;
  width:113px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u6973 {
  position:absolute;
  left:346px;
  top:132px;
  width:63px;
  height:43px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6975 {
  position:absolute;
  left:224px;
  top:188px;
  width:150px;
  height:40px;
}
#u6976 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u6977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6977 {
  position:absolute;
  left:373px;
  top:188px;
  width:151px;
  height:40px;
}
#u6978 {
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6979 {
  position:absolute;
  left:522px;
  top:188px;
  width:151px;
  height:40px;
}
#u6980 {
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6990 {
  position:absolute;
  left:748px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u6991 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6992 {
  position:absolute;
  left:783px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u6993 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u6994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6994 {
  position:absolute;
  left:819px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u6995 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u6996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6996 {
  position:absolute;
  left:853px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u6997 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u6998 {
  position:absolute;
  left:889px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u6999 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7000 {
  position:absolute;
  left:923px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u7001 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u7002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7002 {
  position:absolute;
  left:998px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u7003 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u7004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7004 {
  position:absolute;
  left:1032px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u7005 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7006 {
  position:absolute;
  left:1079px;
  top:566px;
  width:25px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7008 {
  position:absolute;
  left:1113px;
  top:562px;
  width:46px;
  height:28px;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u7009 {
  position:absolute;
  left:12px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7010 {
  position:absolute;
  left:1164px;
  top:568px;
  width:13px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u7011 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7012 {
  position:absolute;
  left:961px;
  top:562px;
  width:27px;
  height:28px;
  font-size:12px;
  color:#666666;
}
#u7013 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u7014 {
  position:absolute;
  left:760px;
  top:572px;
  width:7px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u7015 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u7016 {
  position:absolute;
  left:1042px;
  top:572px;
  width:7px;
  height:8px;
}
#u7017 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7020 {
  position:absolute;
  left:224px;
  top:267px;
  width:953px;
  height:77px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:30px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:18px;
}
#u7022 {
  position:absolute;
  left:280px;
  top:288px;
  width:288px;
  height:18px;
  font-size:14px;
  line-height:18px;
}
#u7023 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u7024 {
  position:absolute;
  left:610px;
  top:289px;
  width:54px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u7025 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u7026 {
  position:absolute;
  left:750px;
  top:298px;
  width:152px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u7028 {
  position:absolute;
  left:1008px;
  top:297px;
  width:93px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7029 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7030 {
  position:absolute;
  left:224px;
  top:227px;
  width:953px;
  height:40px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:12px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u7032 {
  position:absolute;
  left:296px;
  top:241px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u7034 {
  position:absolute;
  left:1017px;
  top:240px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u7036 {
  position:absolute;
  left:607px;
  top:240px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u7038 {
  position:absolute;
  left:796px;
  top:240px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7039 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7041 {
  position:absolute;
  left:224px;
  top:343px;
  width:953px;
  height:77px;
}
#u7042 {
  position:absolute;
  left:2px;
  top:30px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:18px;
}
#u7043 {
  position:absolute;
  left:280px;
  top:364px;
  width:288px;
  height:18px;
  font-size:14px;
  line-height:18px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u7045 {
  position:absolute;
  left:610px;
  top:365px;
  width:54px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u7046 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u7047 {
  position:absolute;
  left:750px;
  top:374px;
  width:152px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u7049 {
  position:absolute;
  left:1008px;
  top:373px;
  width:78px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:953px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7052 {
  position:absolute;
  left:224px;
  top:419px;
  width:953px;
  height:77px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:30px;
  width:949px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:18px;
}
#u7054 {
  position:absolute;
  left:280px;
  top:449px;
  width:288px;
  height:18px;
  font-size:14px;
  line-height:18px;
}
#u7055 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:33px;
}
#u7056 {
  position:absolute;
  left:610px;
  top:441px;
  width:54px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u7058 {
  position:absolute;
  left:750px;
  top:450px;
  width:152px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u7059 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u7060 {
  position:absolute;
  left:1008px;
  top:449px;
  width:93px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7063 {
  position:absolute;
  left:260px;
  top:56px;
  width:60px;
  height:3px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
