body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:1194px;
}
#u719 {
  position:absolute;
  left:2px;
  top:589px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:53px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:53px;
}
#u721 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u722 {
  position:absolute;
  left:263px;
  top:10px;
  width:77px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u723 {
  position:absolute;
  left:24px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u724 {
  position:absolute;
  left:340px;
  top:10px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u725 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u726 {
  position:absolute;
  left:428px;
  top:10px;
  width:105px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u727 {
  position:absolute;
  left:24px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u728 {
  position:absolute;
  left:1023px;
  top:10px;
  width:132px;
  height:53px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u729 {
  position:absolute;
  left:2px;
  top:16px;
  width:128px;
  word-wrap:break-word;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u732 {
  position:absolute;
  left:53px;
  top:13px;
  width:48px;
  height:48px;
  color:#666666;
}
#u733 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u735 {
  position:absolute;
  left:1114px;
  top:15px;
  width:48px;
  height:48px;
  color:#666666;
}
#u736 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  position:absolute;
  left:881px;
  top:1089px;
  width:209px;
  height:41px;
}
#u738 {
  position:absolute;
  left:2px;
  top:12px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:272px;
  top:53px;
  width:60px;
  height:3px;
}
#u740 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:315px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:53px;
  top:117px;
  width:1107px;
  height:315px;
}
#u742 {
  position:absolute;
  left:2px;
  top:150px;
  width:1103px;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:50px;
}
#u743 {
  position:absolute;
  left:53px;
  top:221px;
  width:27px;
  height:50px;
}
#u744 {
  position:absolute;
  left:2px;
  top:17px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:50px;
}
#u745 {
  position:absolute;
  left:1133px;
  top:221px;
  width:27px;
  height:50px;
}
#u746 {
  position:absolute;
  left:2px;
  top:17px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u750 {
  position:absolute;
  left:1057px;
  top:627px;
  width:25px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u752 {
  position:absolute;
  left:1146px;
  top:633px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#108DE9;
}
#u753 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u755 {
  position:absolute;
  left:1092px;
  top:627px;
  width:52px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u757 {
  position:absolute;
  left:53px;
  top:493px;
  width:196px;
  height:32px;
}
#u757_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u757_input:disabled {
  color:grayText;
}
#u758 {
  position:absolute;
  left:281px;
  top:493px;
  width:196px;
  height:32px;
}
#u758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u758_input:disabled {
  color:grayText;
}
#u759 {
  position:absolute;
  left:736px;
  top:493px;
  width:196px;
  height:32px;
}
#u759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u759_input:disabled {
  color:grayText;
}
#u760 {
  position:absolute;
  left:508px;
  top:493px;
  width:196px;
  height:32px;
}
#u760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u760_input:disabled {
  color:grayText;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u761 {
  position:absolute;
  left:508px;
  top:618px;
  width:91px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u762 {
  position:absolute;
  left:8px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u763 {
  position:absolute;
  left:964px;
  top:493px;
  width:196px;
  height:32px;
}
#u763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u763_input:disabled {
  color:grayText;
}
#u764 {
  position:absolute;
  left:736px;
  top:554px;
  width:196px;
  height:32px;
}
#u764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u764_input:disabled {
  color:grayText;
}
#u765 {
  position:absolute;
  left:964px;
  top:554px;
  width:196px;
  height:32px;
}
#u765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u765_input:disabled {
  color:grayText;
}
#u766 {
  position:absolute;
  left:53px;
  top:618px;
  width:196px;
  height:32px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u766_input:disabled {
  color:grayText;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:53px;
  top:554px;
  width:87px;
  height:37px;
}
#u768 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:162px;
  top:554px;
  width:87px;
  height:37px;
}
#u770 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:281px;
  top:554px;
  width:87px;
  height:37px;
}
#u772 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:390px;
  top:554px;
  width:87px;
  height:37px;
}
#u774 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:508px;
  top:554px;
  width:87px;
  height:37px;
}
#u776 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:617px;
  top:554px;
  width:87px;
  height:37px;
}
#u778 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u779 {
  position:absolute;
  left:281px;
  top:618px;
  width:196px;
  height:32px;
}
#u779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u779_input:disabled {
  color:grayText;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u781 {
  position:absolute;
  left:1854px;
  top:1126px;
  width:25px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u783 {
  position:absolute;
  left:1889px;
  top:1131px;
  width:12px;
  height:12px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#108DE9;
}
#u784 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u786 {
  position:absolute;
  left:1854px;
  top:1175px;
  width:25px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
  line-height:23px;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u788 {
  position:absolute;
  left:1889px;
  top:1180px;
  width:12px;
  height:12px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#108DE9;
}
#u789 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u790 {
  position:absolute;
  left:53px;
  top:451px;
  width:118px;
  height:16px;
  font-size:13px;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
  color:#108EE9;
}
#u792 {
  position:absolute;
  left:192px;
  top:451px;
  width:49px;
  height:15px;
  font-size:12px;
  text-decoration:underline;
  color:#108EE9;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:1090px;
  top:993px;
  width:40px;
  height:40px;
  opacity:0.4;
}
#u798 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u799 {
  position:absolute;
  left:1099px;
  top:1001px;
  width:22px;
  height:24px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u800 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u801 {
  position:absolute;
  left:1090px;
  top:1093px;
  width:40px;
  height:40px;
}
#u802 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u803 {
  position:absolute;
  left:1090px;
  top:1044px;
  width:40px;
  height:40px;
}
#u804 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  position:absolute;
  left:506px;
  top:1101px;
  width:113px;
  height:16px;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
}
#u808 {
  position:absolute;
  left:397px;
  top:1165px;
  width:417px;
  height:16px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u810 {
  position:absolute;
  left:339px;
  top:1167px;
  width:50px;
  height:12px;
}
#u811 {
  position:absolute;
  left:2px;
  top:-2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:339px;
  top:1143px;
  width:57px;
  height:16px;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u815 {
  position:absolute;
  left:430px;
  top:1145px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u817 {
  position:absolute;
  left:613px;
  top:1145px;
  width:117px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u819 {
  position:absolute;
  left:695px;
  top:1145px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u821 {
  position:absolute;
  left:530px;
  top:1145px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u823 {
  position:absolute;
  left:515px;
  top:1144px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u825 {
  position:absolute;
  left:593px;
  top:1145px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u827 {
  position:absolute;
  left:674px;
  top:1145px;
  width:44px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u829 {
  position:absolute;
  left:969px;
  top:1104px;
  width:101px;
  height:19px;
  font-size:16px;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u831 {
  position:absolute;
  left:894px;
  top:1101px;
  width:25px;
  height:25px;
}
#u832 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:78px;
  top:671px;
  width:928px;
  height:182px;
}
#u835 {
  position:absolute;
  left:2px;
  top:83px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:180px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:79px;
  top:672px;
  width:227px;
  height:180px;
}
#u837 {
  position:absolute;
  left:2px;
  top:82px;
  width:223px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u838 {
  position:absolute;
  left:316px;
  top:724px;
  width:243px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:413px;
  top:689px;
  width:155px;
  height:16px;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u842 {
  position:absolute;
  left:313px;
  top:679px;
  width:96px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FF0000;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:653px;
  top:699px;
  width:141px;
  height:16px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u846 {
  position:absolute;
  left:607px;
  top:679px;
  width:36px;
  height:36px;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u848 {
  position:absolute;
  left:93px;
  top:683px;
  width:41px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u849 {
  position:absolute;
  left:8px;
  top:1px;
  width:25px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:653px;
  top:742px;
  width:172px;
  height:16px;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:487px;
  top:828px;
  width:85px;
  height:16px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  position:absolute;
  left:487px;
  top:797px;
  width:85px;
  height:16px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:487px;
  top:765px;
  width:70px;
  height:16px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:316px;
  top:797px;
  width:120px;
  height:16px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:316px;
  top:765px;
  width:113px;
  height:16px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:316px;
  top:828px;
  width:99px;
  height:16px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:120px;
}
#u864 {
  position:absolute;
  left:625px;
  top:725px;
  width:1px;
  height:119px;
}
#u865 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:653px;
  top:828px;
  width:81px;
  height:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:653px;
  top:785px;
  width:342px;
  height:16px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u870 {
  position:absolute;
  left:930px;
  top:693px;
  width:63px;
  height:15px;
}
#u871 {
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:79px;
  top:871px;
  width:928px;
  height:182px;
}
#u874 {
  position:absolute;
  left:2px;
  top:83px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:180px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:80px;
  top:872px;
  width:227px;
  height:180px;
}
#u876 {
  position:absolute;
  left:2px;
  top:82px;
  width:223px;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u877 {
  position:absolute;
  left:317px;
  top:924px;
  width:243px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:414px;
  top:889px;
  width:155px;
  height:16px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u881 {
  position:absolute;
  left:314px;
  top:879px;
  width:96px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FF0000;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:654px;
  top:899px;
  width:141px;
  height:16px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u885 {
  position:absolute;
  left:608px;
  top:879px;
  width:36px;
  height:36px;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u887 {
  position:absolute;
  left:94px;
  top:883px;
  width:41px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u888 {
  position:absolute;
  left:8px;
  top:1px;
  width:25px;
  white-space:nowrap;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:654px;
  top:942px;
  width:172px;
  height:16px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:488px;
  top:1028px;
  width:85px;
  height:16px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:488px;
  top:997px;
  width:85px;
  height:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:488px;
  top:965px;
  width:70px;
  height:16px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:317px;
  top:997px;
  width:120px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:317px;
  top:965px;
  width:113px;
  height:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:317px;
  top:1028px;
  width:99px;
  height:16px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:120px;
}
#u903 {
  position:absolute;
  left:626px;
  top:925px;
  width:1px;
  height:119px;
}
#u904 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:654px;
  top:1028px;
  width:81px;
  height:16px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u907 {
  position:absolute;
  left:654px;
  top:985px;
  width:342px;
  height:16px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u909 {
  position:absolute;
  left:931px;
  top:893px;
  width:63px;
  height:15px;
}
#u910 {
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
